@media (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
        width: 100%;
    }

    .container .sidebar .card-bank {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 490px) {
    .container .sidebar{
        margin: 10px auto;
        width: 90%;
        height: 820px;
    }

    .container .column {
        margin: 10px auto;
        width: 90%;
    }

    .container .sidebar .card-bank .account,
    .container .sidebar .card-bank .account-name {
        display: none;
    }

    .container .sidebar .data-client .number-account-card {
        display: flex;
        justify-content: space-between;
        padding: 5px 1px;
        position: relative;
        left: 10px;
    }

    .container .sidebar .data-client .number-account-card #get-number-account {
        font-size: 10px;
        padding-right: 15px;
    }

}

@media (max-width: 480px) {
    .container .sidebar .data-client .name-client,
    .container .sidebar .data-client .balance,
    .container .sidebar .data-client .movements,
    .container .sidebar .data-client .number-account-card,
    .container .column .movements .card .box {
        display: flex;
        flex-direction: column;
    }

    .container .sidebar .data-client .number-account-card,
    .container .column .movements .card .box {
        text-align: center;
        margin-left: -15px;
    }
}
