@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
}

body {
    width: 100%;
    display: flex;
    align-items: center;

    background: url('../img/wallpaper_two.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 15px auto;
}

.container .sidebar{
    box-shadow: 5px 10px 15px rgba(14, 14, 14, 0.89);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 500px;
    height: 860px;
}

.container .column{
    box-shadow: 5px 10px 15px rgba(14, 14, 14, 0.89);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 500px;
}

.container .sidebar .card-bank{
    margin: 5px auto;
    padding: 25px;
    color: #fff;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.container .sidebar .card-bank img{
    width: 100%;
    border-radius: 25px;
    padding-bottom: 5px;
}

.container .sidebar .card-bank .account{
    text-align: start;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 220px;
    left: 80px;
}

.container .sidebar .card-bank .account-name{
    text-align: start;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    top: 260px;
    left: 80px;
}

.container .sidebar .data-client{
    padding: 15px 15px;
    margin: 25px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
    border-radius: 15px;
    color: #fff;
    font-size: 10px;
}

.container .sidebar .data-client .number-account-card {
    display: none;
}

.container .sidebar .data-client label{
    font-weight: bold;
    font-size: 13px;
}

.container .sidebar .data-client .name-client,
.container .sidebar .data-client .balance,
.container .sidebar .data-client .movements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
} 

.container .sidebar .transactions{
    padding: 20px 15px;
    margin: 25px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .sidebar .transactions label{
    font-weight: bold;
    font-size: 13px;
}

.container .sidebar .transactions form{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1rem;
}

.container .sidebar .transactions form input{
    padding: 10px 8px;
    border-radius: 15px;
    font-weight: 800;
    color: rgb(69, 0, 124);
}

.container .sidebar .transactions form button{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(69, 0, 124);
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    border: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.container .sidebar .transactions form button:hover{
    background-color: rgb(255, 25, 217);
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.356);
}

.container .column{
    padding: 20px 15px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .column h2{
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.container .column .movements{
    display: flex;
    padding: 10px;
    color: #fff;
    flex-direction: column;
    gap: 2rem;
}

.container .column .movements .card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .column .movements .card .card-style{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 15px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    gap: 1rem;
}

.container .column .movements .card .box{
    display: flex;
    justify-content: space-between;
}

.container .column .movements .card .box label{
    font-weight: bold;
    font-size: 13px;
}